<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div>
    <div class="title">
        <%= title %>
    </div>

    <div class="media-container">
        <div>
            <a href="/auth/google" class="google">
                <i class="fab fa-google-plus-square"></i>
            </a>
        </div>
        <div>
            <a href="/auth/twitter" class="twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <div>
            <a href="/auth/facebook" class="facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
    </div>

    <div class="foot-note bounce">
        <label>Sign in with an OAuth Provider</label>
    </div>
</div>
</body>
</html>